---
const platform = "github";
const platform1 = "instagram";
const username = "boririna";
const username1 = "birinaale";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>!
  </p>
  <p>
    Learn about my life in Switzerland <a
      href={`https://www.${platform1}.com/${username1}`} target="_blank">{platform1}</a>!
  </p>
</footer>
